{% extends "base.html" %}

{% block content %}
<div class="content">
    <form class='login-form' style="display: inline-block" action="" method="post" novalidate>
    	<h1 style='font-family: "Roboto", sans-serif'>Login</h1>
        {{ form.hidden_tag() }}
	<p class='input-box'>
	    {{ form.username(size=32, placeholder='Username') }}
	    <br>
	    {% for error in form.username.errors %}
	    <span style="color: red;">{{ error }}</span>
	    {% endfor %}
	</p>
	<p class='input-box'>
	    {{ form.password(size=32, placeholder='Password') }}
	    <br>
	    {% for error in form.password.errors %}
	    <span style="color:red;">{{ error }}</span>
	    {% endfor %}
	</p>
	<p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}

